<div class="text-white">
  <span class="inline-block break-words">
    <div class="w-auto">
      <h1 class="text-6xl mt-14 mb-4">Early Injury Resolution</h1>
      <span class="w-full">The aim of this portal is to equip you with the knowledge and skills required to achieve
        Early Injury Resolution of claims for simple injuries.</span>
    </div>
  </span>
  <div class="flex items-center yellow my-2 text-bold">
    <a href="#" class="yellow-link">More about EIR</a>
    <span class="border-r-2 border-yellow-400 mx-7 h-4"></span>
    <a href="#" class="yellow-link">Instructions</a>
  </div>
</div>