<div class="banner">
  <div class="eir-container mx-auto">
    <!-- header navbar starts here -->
    <div class="text-white py-7 border-b border-gray-400">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <span class="logo"></span>
          <span class="border-r border-gray-400 h-5 mx-2"></span>
          <h3 class="uppercase font-semibold">
            <%= htmlWebpackPlugin.options.title %>
          </h3>
        </div>

        <div class="flex items-center">
          <span class="icon-home inline-block mr-2"></span>
          <span class="icon-info inline-block mr-2"></span>
          <span class="uppercase inline-block text-sm">logout</span>
        </div>
      </div>
    </div>
    <!-- header navbar ends here -->

    <!-- banner text starts here -->
    <div class="text-white">
      <span class="inline-block break-words">
        <div class="w-auto">
          <h1 class="text-6xl mt-14 mb-4">Early Injury Resolution</h1>
          <span class="w-full">The aim of this portal is to equip you with the knowledge and skills required to achieve Early Injury Resolution of claims for simple injuries.</span>
        </div>
      </span>
      <div class="flex items-center yellow my-2 text-bold">
        <a href="#" class="yellow-link">More about EIR</a>
        <span class="border-r-2 border-yellow-400 mx-7 h-4"></span>
        <a href="#" class="yellow-link">Instructions</a>
      </div>
    </div>
     <!-- banner text ends here -->

    <div class="flex mt-16">
      <div class="gray-transparent rounded-full">
        <div class="w-32 h-32 blue-gradient rounded-full m-4"></div>
      </div>
    </div>
  </div>
</div>