<div class="text-white py-7 border-b border-gray-400">
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      <span class="logo"></span>
      <span class="border-r border-gray-400 h-5 mx-2"></span>
      <h3 class="uppercase font-semibold">Eir Champion</h3>
    </div>

    <div class="flex items-center">
      <span class="icon-home inline-block mr-2"></span>
      <span class="icon-info inline-block mr-2"></span>
      <span class="uppercase inline-block text-sm">logout</span>
    </div>
  </div>
</div>