<div class="bg-gray-100 p-3 border-b border-gray-300">
  <div class="flex">
    <div class="bg-image bg-white h-20 w-20">
      <img src="/assets/blank.png">
    </div>
    <div class="border-r border-gray-300 ml-4"></div>
    <span class="icon-x-lens mx-2.5"></span>
    <div class="flex-1">
      <div class="flex">
        <p>EIR: An Overview</p>
      </div>
      <p class="text-xs">This topic contains a scenario which sets the context for EIR and explains the purpose and importance of EIR.</p>
      <span class="block text-xs text-gray-400">2:25 mins</span>
    </div>
  </div>
</div>